:root {
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --QS: 'Quicksand', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--QS);
}


/* **********NAV BAR****************** */
nav {
    height: 9vh;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid var(--very-light-pink);
    
}

.mh-img {
    cursor: pointer;
}

/* .logo {
    width: 120px;
} */

.list-container {
    display: none;
}

.email {
    display: none;
}

.navBar-right ul {
    list-style: none;
}

.navBar-shoppingCart img {
    position: relative;
    width: 30px;
    height: 30px;

}

.navBar-shoppingCart div {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    background-color: var(--hospital-green);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    right: 16px;

}

    /* **********DESKTOP MENU****************** */
    .inactive {
    display: none;
}

.desktopMenu {
    width: 140px;
    position: absolute;
    top: 61px;;
    right: 0;
    background-color: var(--white);
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 10px;
}

.desktopMenu__ul {
    list-style: none;
    text-align: right;    
}

.desktopMenu__ul li {
    padding: 10px 0;
}

.desktopMenu__ul li:nth-child(3) {
    border-top: 1px solid var(--very-light-pink);
}

.desktopMenu__ul li a{ 
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: var(--QS);
}

.desktopMenu__ul li:nth-child(3) a{
    color: var(--hospital-green);
}



 /* **********MOBILE MENU****************** */
.mobileMenu {
    width: 100%;
    height: 100vh;
    padding: 30px 30px 0;
    background-color: var(--white);
}

.title {
    text-transform: uppercase;
    font-size: var(--lg);
    margin-bottom: 30px;
}

.mobileMenu__list-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.mobileMenu__list {
    list-style: none;
}

.mobileMenu__list-container ul:nth-child(2) {
    border-top: 1px solid var(--very-light-pink);
}

.mobileMenu__list-modified {
    padding: 20px 0 60px;
}

.mobileMenu__list li {
    padding: 15px 0;
}

.mobileMenu__list li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    /* padding: 40px 0; */
}

.singout p{
    color: var(--very-light-pink);
}

.singout a {
    text-decoration: none;
    color: var(--hospital-green);
    font-weight: bold;
}

    /* **********ASIDE SHOPPING CART****************** */
    .inactive {
        display: none;
    }
    
.shoppingCart {
    width: 90vw;
    height: 100vh;
    margin: 5px auto 0;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.shoppingCart__tittle {
    display: flex;
    align-items: center;
    margin: 10px 0 0;
}

.shoppingCart__tittle p {
    color: var(--very-light-pink);
    font-weight: bold;
    font-size: 1.2rem;
    padding-right: 10px;
}

.shoppingCart__tittle-h1 {
    font-size: 1.3rem;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    margin: 20px 0;

}

.card figure {
    display: flex;
    align-items: center;
}
.card figure img {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    margin-right: 20px;
}
.card p {
    font-weight: bold;
}

.card figure p {
    font-size: var(--md);
    font-weight: 300;
    color: var(--very-light-pink);
}

.card div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card div img {
    width: 10px;
    height: 10px;
    margin-left: 10px;
}

.sectionTotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--text-input-field);
    border-radius: 12px;
    /* margin: 20px 0; */
}

.sectionTotal p {
    font-weight: bold;
    font-size: var(--mg);
}

.shoppingCart button {
    background-color: var(--hospital-green);
    display: inline-block;
    width: 100%;
    padding: 20px;
    border-radius: 12px;
    border: none;
    margin: 10px 0;


}

.shoppingCart button a {
    font-weight: bold;
    font-size: var(--lg);
    font-family: var(--QS);
    color: var(--white);
    text-decoration: none;
}

    /* **********PRODUCTOS****************** */

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card1-container {
    width: 200px;
    height: 270px;
    margin: 20px;
}

.card1-container img {
    border-radius: 20px;
    width: 100%;
    height: 200px;
    object-fit: cover;

}

.card1-container__descript {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card1-container__descript figure {
    width: 40px;
    height: 40px;
    margin: 0%;
}

.card1-container__descript figure img {
    width: 30px;
    height: 30px;
    margin: 0%;
}

.card1-container__descript-info p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 14px;
    margin-bottom: 8px;
}

.card1-container__descript-info p:nth-child(2) {
    color: var(--very-light-pink);
    margin-top: 0;
    margin-bottom: 0%;
}

@media screen and (min-width: 790px) {

    /* *****************NAV BAR********************* */

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px;
        /* width: 90vw; */
    }

    .navBar-left {
        display: flex;
    }

    .mh-img {
        display: none;
    }

    .list-container {
        display: contents;
    }

    .list-container ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 350px;
        margin:0 30px;

    }

    .list-container ul li a {
        color: var(--very-light-pink);
        text-decoration: none;
        font-size: var(--sm);
        
    }

    .list-container ul li a:hover {
        color: var(--hospital-green);
        border: 1px solid var(--hospital-green);
        border-radius: 8px;
        padding: 4px 8px;
    }

    .navBar-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* width: 200px; */
        margin: 0;
        padding: 0%;
    }

    .navBar-right ul {
        min-width: 180px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* nav div:nth-child(2) a{
        color: var(--hospital-green);
        font-weight: bold;
        font-size: var(--sm);
    } */
    .email {
        display: contents;
        font-size: var(--sm);
        color: var(--very-light-pink);
        cursor: pointer;
        /* padding-left: 20px; */
    }

    .navBar-shoppingCart div {
        top: 10px;
        right: 35px;
        cursor: pointer;
    }


    /* **********DESKTOP MENU****************** */
    /* .desktopMenu {
        
    } */

    /* **********MOBILE MENU****************** */
    .mobileMenu {
        display: none;
    }
    

    /* **********ASIDE SHOPPING CART****************** */
    .shoppingCart {
        position: absolute;
        right: 0%;
        background-color: var(--white);
        width: 50vw;
        max-width: 500px;
        font-size: var(--lg);
        padding-left: 30px;
    }






    /* **********PRODUCTOS****************** */

    .card1-container {
        width: 280px;
        height: 340px;
    }
    
    .card1-container img {
        width: 100%;
        height: 280px;
    }

    .card1-container__descript figure img {
        width: 40px;
        height: 40px;
    }
}

