:root {
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --QS: 'Quicksand', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--QS)
}

main {
    width: 90vw;
    height: 100vh;
    margin: 5px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    margin: 20px 0;

}

.card figure {
    display: flex;
    align-items: center;
}
.card figure img {
    width: 120px;
    height: 120px;
    border-radius: 12px;
    margin-right: 20px;
}
.card p {
    font-weight: bold;
}

.card figure p {
    font-size: var(--md);
    font-weight: 300;
    color: var(--very-light-pink);
}

.card div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card div img {
    width: 10px;
    height: 10px;
    margin-left: 10px;
}

.sectionTotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--text-input-field);
    border-radius: 12px;
    /* margin: 20px 0; */
}

.sectionTotal p {
    font-weight: bold;
    font-size: var(--mg);
}

main button {
    background-color: var(--hospital-green);
    display: inline-block;
    width: 100%;
    padding: 20px;
    border-radius: 12px;
    border: none;
    margin: 10px 0;


}

main button a {
    font-weight: bold;
    font-size: var(--lg);
    font-family: var(--QS);
    color: var(--white);
    text-decoration: none;
}

@media screen and (min-width: 730px) {

    main {
        width: 50vw;
        max-width: 500px;
        font-size: var(--lg);


    }
}